/********MEDIA QUERRY**************/

@media screen and (min-width: 600px) {
  .main-nav li, .main-header{
  		float: none;
  		text-align: center;
 	 }
 .main-header{
 	margin: 0;
 	width: initial;
 }

 .main-nav {
 	margin: 0;
 }

.main-wrapper, .first-content, .second-content {
	display: initial;
	text-align: center;
	width: 100%;
	margin: 5px;
	flex: none;
}

}
