body {
				background: #ff80b3;
				margin: 0;
				text-align: center;
				width: 100%;
}

.main-header {
				margin-bottom: 100px;
				background-color: tomato;
				color:  blue;
}

.main-header ul {
				float: right;
}

.wrapper{
				margin-bottom: 100px;
}

footer {
		 color: gray;
}
 p{
 	 color: Yello;
 }
